Repository opensumi/github-bot: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: yarn lint --diagnostic-level=error {staged_files}

format:
  run: 'yarn lint:fix --diagnostic-level=error {staged_files}
  
    git update-index --again
  
    '

refactor: update code
  src/dal/admin.ts
  src/dal/constants.ts
  src/dal/ding.ts
  src/dal/github.ts
  src/dal/index.ts
  src/dal/kv/index.ts
  src/dal/run.ts
  src/dal/types.ts
Due: lint, format

docs: update deploy documents
  .env.example
  Dockerfile
  Herebyfile.mjs
  docs/deploy.md
  docs/develop.md
  docs/introduction.md
  package.json
  scripts/smee.ts
  zbpack.json
Due: lint, format

build: fix build
  __tests__/__mocks__/index.ts
  __tests__/__mocks__/webhooks.ts
  __tests__/kv/index.test.ts
  docs/how-to-use.md
  src/controllers/configuration.tsx
  src/controllers/ding.ts
  src/controllers/github.ts
  src/controllers/oauth.ts
  src/controllers/run.ts
  src/controllers/static.ts
  src/controllers/webhook.ts
  src/services/admin.ts
  src/services/dingtalk-bot/commands/common.ts
  src/services/dingtalk-bot/commands/github.ts
  src/services/dingtalk-bot/commands/opensumi.ts
  src/services/dingtalk-bot/commands/utils.ts
  src/services/dingtalk-bot/index.ts
  src/services/dingtalk.ts
  src/services/github/app.ts
  src/services/github/types.ts
  src/services/queue/worker/github.ts
Due: lint, format

feat: add admin routes
  Herebyfile.mjs
  scripts/build/base.ts
  scripts/generate-json-schemas-all.mjs
  src/controllers/admin.ts
  src/controllers/configuration.ts
  src/controllers/health.ts
  src/controllers/index.ts
  src/dal/admin.ts
  src/dal/kv/index.ts
  src/ignition.ts
  src/runtime/node/index.ts
  src/runtime/node/kv.ts
  src/services/admin.ts
  src/services/switches.ts
Due: lint, format

fix: introduct local kv
  .gitignore
  __tests__/__mocks__/env.ts
  __tests__/__mocks__/index.ts
  docs/how-to-use.md
  package.json
  src/controllers/admin.ts
  src/runtime/node/index.ts
  src/runtime/node/kv.ts
  yarn.lock
Due: lint, format

feat: support configure scope token
  docs/how-to-use.md
  src/controllers/admin.ts
Due: lint, format

docs: update configurations
  docs/configurations.md
  docs/how-to-use.md
Due: format

test: fix test cases
  __tests__/__mocks__/index.ts
  __tests__/queue/index.test.ts
Due: lint, format

refactor: use async local storage
  __tests__/__mocks__/env.ts
  __tests__/__mocks__/index.ts
  __tests__/commander/commander.test.ts
  __tests__/kv/index.test.ts
  __tests__/queue/index.test.ts
  docs/develop.md
  src/controllers/configuration.ts
  src/controllers/run.ts
  src/dal/kv/index.ts
  src/env.ts
  src/gateway.ts
  src/ignition.ts
  src/middleware/async-local-storage.ts
  src/middleware/index.ts
  src/runtime/cfworker/index.ts
  src/runtime/node/base.ts
  src/runtime/node/index.ts
  src/services/dingtalk-bot/index.ts
  src/services/dingtalk.ts
  src/services/github/app.ts
  src/services/queue/index.ts
  src/services/webhook.ts
  src/utils/req.ts
  typings/global.d.ts
Due: lint, format

chore: remove unused package
  libs/onebot/.gitignore
  libs/onebot/package.json
  libs/onebot/src/index.ts
  libs/onebot/src/wechaty.ts
  libs/onebot/tsconfig.json
Due: lint, format

chore: update lock
  yarn.lock
Due: none

docs: update develop.md with build instructions
  docs/develop.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,css,less,scss,vue,json,gql,md}
